<template>
  <div id="app">
    <div>
      <TheNavBar user="undefineUser" />
      <LocaleChanger />
      <router-view />
    </div>
  </div>
</template>

<script lang="ts">
import TheNavBar from "@/components/TheNavBarComponent.vue";
export default {
  name: "app",
  components: {
    TheNavBar
  }
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
