<template>
  <div class="custompipeline">
    <h2 class="subtitle">custom</h2>
    <textarea
      class="textarea"
      placeholder="10 lines of textarea"
      rows="10"
    ></textarea>
  </div>
</template>

<script>
export default {
  name: "customPipeline"
};
</script>
<!--todo pas hero.is-info-->
<style>
.hero.is-info .subtitle {
  color: black;
}
</style>
