<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <p>{{ $t("hello") }}</p>
    <p>{{ $tc("apple", 0) }}</p>
    <p>{{ $tc("apple", 1) }}</p>
    <p>{{ $tc("apple", 10, { count: 10 }) }}</p>
    <p>{{ $d(new Date(), "short") }}</p>
    <p>{{ $d(new Date(), "short", "en-US") }}</p>
    <p>{{ $n(100, "currency") }}</p>
    <p>{{ $n(100, "currency", "en-US") }}</p>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";

export default {
  name: "home",
  components: {}
};
</script>
