<template>
  <div class="login">
    <loginComponent />
  </div>
</template>

<script>
// @ is an alias to /src
import loginComponent from "@/components/TheLogin";

export default {
  name: "login",
  components: {
    loginComponent
  }
};
</script>
