<template>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Descrition Creator
        </h1>
        <h2 class="subtitle">
          explication
        </h2>
      </div>
      <div class="notification is-light">
        <figure class="image container is-64x64">
          <img src="../assets/logo.png" />
        </figure>
        <form class="description" @submit.prevent="createDescription()">
          <div class="columns is-centered">
            <div class="column is-half">
              <div class="field">
                <h1 class="label">write you're description</h1>
                <div class="control">
                  <textarea
                    class="textarea"
                    onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}"
                    v-model="description"
                    placeholder="écriver votre description ici"
                    rows="15"
                  ></textarea>
                </div>
              </div>
              <button
                class="button is-primary is-rounded is-medium"
                type="submit"
              >
                create and run pipeline
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div
      v-if="message"
      class="help"
      :class="successful ? 'is-success' : ' is-danger'"
    >
      {{ message }}
    </div>
  </section>
</template>

<script>
const YAML = require("yamljs");

export default {
  name: "descriptionCreator",
  data: function() {
    return {
      description: "",
      message: "",
      successful: false
    };
  },
  methods: {
    createDescription() {
      this.description.replace(/\\t/g, "    ");
      let JSONdescription = YAML.parse(this.description);
      this.$store.dispatch("pipeline/createDescription", JSONdescription).then(
        () => {
          this.successful = true;
          this.$router.push("/pipelineSelector");
        },
        error => {
          this.successful = false;
          this.message = error.message;
        }
      );
    }
  }
};
</script>
