<template>
  <div class="hero is-info is-fullheight">
    <form class="pipelineSelector" @submit.prevent="createPipeline">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">{{ description.name }} parameters</h1>
        </div>
      </div>

      <div class="columns is-centered">
        <div class="column is-half">
          <div class="notification is-light">
            <figure class="image container is-64x64">
              <img src="../assets/logo.png" />
            </figure>
            <div class="field">
              <div v-for="variable of this.variables" :key="variable.name">
                <label class="label"> {{ variable.name }} : </label>
                <p>{{ variable.mark }} :</p>
                <div v-if="variable.type == `list`">
                  <li v-for="item of variable.value" :key="item">
                    {{ item }}
                  </li>
                  <div class="field is-grouped">
                    <p class="control has-icons-left is-expanded">
                      <input
                        class="input"
                        v-model="variable.temp"
                        v-bind:name="variable.name"
                        v-validate="'min:3|max:100'"
                        type="text"
                        v-bind:placeholder="variable.name"
                      />
                      <span class="icon is-small is-left">
                        <font-awesome-icon icon="code-branch" />
                      </span>
                    </p>
                    <div class="control">
                      <a
                        class="button is-info"
                        v-on:click="addVariable(variable, variable.temp)"
                        >Add</a
                      >
                    </div>
                  </div>
                </div>
                <div v-else>
                  <li>
                    {{ variable.value }}
                  </li>
                  <input
                    class="input"
                    type="text"
                    v-bind:name="variable.name"
                    v-bind:placeholder="variable.name"
                    v-bind:value="variable.value"
                  />
                </div>
              </div>
            </div>
            <button class="button is-primary is-rounded" type="submit">
              Launch
            </button>
          </div>
        </div>
      </div>
    </form>
    <div
      v-if="message"
      class="help"
      :class="successful ? 'is-success' : ' is-danger'"
    >
      {{ message }}
    </div>
  </div>
</template>

<script>
export default {
  name: "PipelineParameter",
  props: {
    name: String,
    version: String
  },
  data: function() {
    return {
      variables: [],
      message: "",
      successful: false,
      description: {}
    };
  },
  /** avant creation du renderer si created => return des erreurs car créer d'abord le renderer */
  beforeMount() {
    this.$store
      .dispatch("pipeline/getDescription", {
        name: this.name,
        version: this.version
      })
      .then(
        description => {
          this.description = description;
          for (let [key, value] of Object.entries(description.variables)) {
            value.name = key;
            value.temp = "";
            if (value.type == "list") {
              value.value = [];
            } else {
              value.value = "";
            }
            this.variables.push(value);
          }
        },
        error => {
          console.log(error);
        }
      );
  },
  methods: {
    addVariable(variable, value) {
      try {
        if (variable.type == "list") {
          for (let singleValue of variable.value) {
            if (singleValue == value) {
              throw new Error(`la variable ${value} est déjà utilisé`);
            }
          }
          variable.value.push(value);
        } else {
          variable.value = value;
        }
        this.message = "";
        this.message += ".";
        this.successful = true;
        variable.temp = "";
      } catch (e) {
        this.successful = false;
        this.message = e.message;
      }
    },
    createPipeline() {
      for (var variable of this.variables) {
        if (variable.value == "" || variable.value == []) {
          this.message += `\n la variable ${variable.name} n'est pas affectée`;
        }
      }
      this.description.variables = this.variables;
      console.log("dispatch");
      this.$store.dispatch("pipeline/create", this.description).then(
        pipeline => {
          console.log("receive");
          this.$router.push({
            name: "PipelineRenderer",
            params: { pipeline: pipeline }
          });
        },
        error => {
          this.successful = false;
          this.message =
            (error.response && error.response.data) ||
            error.message ||
            error.toString();
        }
      );
    }
  }
};
</script>

<style css>
p {
  text-align: left;
}
li {
  text-align: left;
}
</style>
