<template>
  <div class="register">
    <Register />
  </div>
</template>

<script>
import Register from "@/components/TheRegister";
export default {
  name: "login",
  components: {
    Register
  }
};
</script>
