<template>
  <!-- exemple fonctionnel de burger a l'adresse https://jsbin.com/harafeluhe/edit?html,output -->
  <nav class="navbar is-light">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <span class="icon is-small is-left">
          <font-awesome-icon icon="home" />
        </span>
      </a>
      <a class="navbar-item is-hidden-desktop" target="_blank">
        <span class="icon" style="color: #333;">
          <i class="github"></i>
        </span>
      </a>

      <div class="navbar-burger burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
          <router-link to="/" class="router-link">Home</router-link>
        </div>
        <div class="navbar-item" v-if="this.$store.state.auth.status.loggedIn">
          <router-link to="/about" class="router-link">old pipeline results</router-link>
        </div>
      </div>

      <div class="navbar-end">
        <!-- si pas necter (faire condition avec vue) -->
        <div class="navbar-item" v-if="!this.$store.state.auth.status.loggedIn">
          <div class="buttons is-centered">
            <a class="button is-primary">
              <router-link to="/register" class="router-link">
                <strong>signup</strong>
              </router-link>
            </a>
            <a class="button is-light">
              <router-link to="/login" class="router-link">login</router-link>
            </a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable" v-else>
          <a class="navbar-link">{{ user.email }}</a>
          <div class="navbar-dropdown">
            <a href="#" class="navbar-item">My Profile</a>
            <a href="#" class="navbar-item" @click.prevent="logOut">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "theNavBarComponent",
  data: function() {
    return {
      user: {},
      loading: false
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    }
  },
  created() {
    if (this.loggedIn) {
      this.user = JSON.parse(localStorage.getItem("user"));
    }
  },
  methods: {
    logOut() {
      this.$store.dispatch("auth/logout");
      this.$router.push("login");
    }
  }
};
</script>

<style lang="scss">
a.router-link {
  color: #2c3e50;
  display: block;
}
a.router-link:hover {
  color: #54a0ff;
}
</style>
