<template>
  <div class="hero is-primary">
    <div class="hero-body">
      <form name="form" @submit.prevent="handleRegister">
        <h1 class="title has-text-centered is-size-2">Sign up</h1>
        <div class="columns is-centered">
          <div class="column is-half">
            <div class="notification is-light">
              <figure class="image container is-64x64">
                <img src="../assets/logo.png" />
              </figure>
              <div class="field">
                <label class="label">email</label>
                <p class="control has-icons-left">
                  <input
                    class="input"
                    v-model="user.email"
                    type="email"
                    placeholder="exemple@mail.com"
                    name="email"
                    v-validate="'required|email|max:50'"
                  />
                  <span class="icon is-small is-left">
                    <font-awesome-icon icon="envelope" />
                  </span>
                </p>
                <div
                  v-if="submitted && errors.has('email')"
                  class="help is-danger"
                >
                  {{ errors.first("email") }}
                </div>
              </div>
              <div class="field">
                <label class="label">FirstName</label>
                <p class="control has-icons-left has-icons-right">
                  <input
                    class="input"
                    v-model="user.firstName"
                    v-validate="'required|min:3|max:20'"
                    type="text"
                    name="firstName"
                    placeholder="firstName"
                  />
                  <span class="icon is-small is-left">
                    <font-awesome-icon icon="user" />
                  </span>
                </p>
                <div
                  v-if="submitted && errors.has('firstName')"
                  class="help is-danger"
                >
                  {{ errors.first("firstName") }}
                </div>
              </div>
              <div class="field">
                <label class="label">lastName</label>
                <p class="control has-icons-left has-icons-right">
                  <input
                    class="input"
                    v-model="user.lastName"
                    v-validate="'required|min:3|max:20'"
                    type="text"
                    name="lastName"
                    placeholder="lastName"
                  />
                  <span class="icon is-small is-left">
                    <font-awesome-icon icon="user" />
                  </span>
                </p>
                <div
                  v-if="submitted && errors.has('lastName')"
                  class="help is-danger"
                >
                  {{ errors.first("lastName") }}
                </div>
              </div>

              <div class="field">
                <label class="label">Password:</label>
                <p class="control has-icons-left">
                  <input
                    class="input"
                    v-model="user.password"
                    type="password"
                    placeholder="Password"
                    v-validate="'required|min:6|max:40'"
                    name="password"
                  />
                  <span class="icon is-small is-left">
                    <font-awesome-icon icon="lock" />
                  </span>
                </p>
                <div
                  v-if="submitted && errors.has('password')"
                  class="help is-danger"
                >
                  {{ errors.first("password") }}
                </div>
              </div>
              <button
                class="button is-primary is-rounded is-medium"
                type="submit"
              >
                Sign up
              </button>
            </div>
          </div>
        </div>
      </form>

      <div
        v-if="message"
        class="help"
        :class="successful ? 'is-success' : ' is-danger'"
      >
        {{ message }}
      </div>
    </div>
  </div>
</template>

<script>
import User from "../models/user";

export default {
  name: "Register",
  data() {
    return {
      user: new User("", ""),
      submitted: false,
      successful: false,
      message: ""
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    }
  },
  mounted() {
    if (this.loggedIn) {
      //todo change to /profile
      this.$router.push("/");
    }
  },
  methods: {
    handleRegister() {
      console.log("handleRegister");
      this.message = "registration";
      this.submitted = true;
      this.$validator.validate().then(isValid => {
        if (isValid) {
          this.$store.dispatch("auth/register", this.user).then(
            data => {
              this.message = data.message;
              this.successful = true;
              this.$$router.push("/login");
            },
            error => {
              this.message =
                (error.response && error.response.data) ||
                error.message ||
                error.toString();
              this.successful = false;
            }
          );
        }
      });
    }
  }
};
</script>
