<template>
  <div class="box is-medium has-background-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          all repositories commits
        </h1>
        <h2 class="subtitle">
          explication
        </h2>
      </div>
    </div>
    <div class="columns is-centered is-multiline">
      <div class="column is-half ">
        <repoCard :repo="data" :name="name" />
      </div>
    </div>
  </div>
</template>

<script>
import repoCard from "./card/repoCard";
export default {
  name: "allReposViewer",
  components: {
    repoCard
  },
  props: {
    data: Array
  },
  data: function() {
    return {
      name: "resume"
    };
  }
};
</script>
