<template>
  <div class="box is-medium has-background-link is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Node module
        </h1>
        <h2 class="subtitle">
          explication
        </h2>
      </div>
    </div>
    <div v-for="(analyse, language) in data" v-bind:key="language">
      <div class="hero-body">
        <div class="box is-centered has-background-warning	">
          <h1 class="title">{{ language }}</h1>
        </div>
      </div>
      <div class="columns is-centered is-multiline">
        <div
          class="column is-half "
          v-for="value in analyse"
          v-bind:key="value.name"
        >
          <nodeCard
            :node="value.dependency"
            :commit="value.commit"
            :repo="value.path"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import nodeCard from "./card/nodeCard";
export default {
  name: "nodesViewer",
  components: {
    nodeCard
  },
  props: {
    data: Object
  }
};
</script>
