<template>
  <div class="box is-medium has-background-dark is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title has-text-light">
          repository commits
        </h1>
        <h2 class="subtitle has-text-light">
          show commits for each repository
        </h2>
      </div>
    </div>
    <div class="columns is-centered is-multiline">
      <div
        class="column is-half "
        v-for="[key, value] in Object.entries(data)"
        :key="key"
      >
        <repoCard :repo="value" :name="key" />
      </div>
    </div>
  </div>
</template>

<script>
import repoCard from "./card/repoCard";
export default {
  name: "nodesViewer",
  components: {
    repoCard
  },
  props: {
    data: Object
  },

  data: function() {
    return {
      allCommits: []
    };
  }
};
</script>
