<template>
  <div class="box is-medium has-background-dark is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title has-text-white">
          resume of package detected
        </h1>
        <h2 class="subtitle has-text-white">
          for each repository you can see all packages analysed
        </h2>
      </div>
    </div>
    <div class="columns is-centered is-multiline">
      <div
        class="box column is-half"
        v-for="[repo, value] of data"
        v-bind:key="repo"
      >
        <h1 class="title">
          {{ repo }} repository
          <a v-bind:href="`#${repo}`">
            <span class="icon">
              <font-awesome-icon icon="search" />
            </span>
          </a>
        </h1>
        <div
          class="box has-background-grey"
          v-for="[language, val] of value"
          v-bind:key="language"
        >
          <h1 class="title ">{{ language }}</h1>

          <div
            class="box column is-quarter"
            v-for="packag of val"
            v-bind:key="packag.path"
          >
            <div v-if="language == `js`">
              <div v-if="packag.dependance.problems != undefined">
                <div
                  v-for="prob of packag.dependance.problems"
                  v-bind:key="prob"
                >
                  <h1 class="title">
                    {{ prob.replace(/missing: |,.+/g, "") }}
                  </h1>
                </div>
              </div>
            </div>
            <div v-else>
              <h1 class="title">
                <div v-if="packag.dependance.spring == true">
                  Spring
                </div>
              </h1>
            </div>
            <div>
              package name : {{ packag.dependance.name
              }}<a v-bind:href="`#${generateLink(packag.path)}`">
                <span class="icon">
                  <font-awesome-icon icon="search" />
                </span>
              </a>
            </div>
            <div>package version : {{ packag.dependance.version }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "resumePipeline",
  props: {
    data: Map
  },
  mounted() {
    console.log(this.data);
  },
  methods: {
    generateLink(path) {
      return path.replace(/\/|\.|-/g, "");
    }
  }
};
</script>
