<template>
  <div class="locale-changer">
    <div class="navbar-item has-dropdown is-hoverable is-hidden-mobile">
      <a class="navbar-link">
        {{ $tc("language", 2) }}
      </a>
      <div class="navbar-dropdown">
        <a
          class="navbar-item"
          v-for="(lang, i) in langs"
          :key="`Lang${i}`"
          :value="lang"
          v-on:click="$root.$i18n.locale = lang"
        >
          <img
            id="flag"
            :src="require(`../assets/FLAG-${lang}.png`)"
            height="16"
            width="16"
          />
          {{ $t("localLanguage", lang) }}
        </a>
      </div>
    </div>

    <div class="dropdown is-hoverable is-hiden-desktop is-hidden-tablet">
      <div class="dropdown-trigger">
        <button
          class="button"
          aria-haspopup="true"
          aria-controls="dropdown-menu4"
        >
          <span> {{ $tc("language", 2) }} </span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu4" role="menu">
        <div class="dropdown-content">
          <a
            class="dropdown-item"
            v-for="(lang, i) in langs"
            :key="`Lang${i}`"
            :value="lang"
            v-on:click="$root.$i18n.locale = lang"
          >
            <img
              id="flag"
              :src="require(`../assets/FLAG-${lang}.png`)"
              height="16"
              width="16"
            />
            {{ $t("localLanguage", lang) }}
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "locale-changer",
  data() {
    return {
      langs: ["fr-FR", "en-US"]
    };
  }
};
</script>

<style>
#flag {
  margin-right: 10px;
}
</style>
