<template>
  <!-- exemple fonctionnel de burger a l'adresse https://jsbin.com/harafeluhe/edit?html,output -->
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        Segfault LOGO
      </a>
      <a class="navbar-item is-hidden-desktop" target="_blank">
        <span class="icon" style="color: #333;">
          <i class="fa fa-github"></i>
        </span>
      </a>

      <div
        class="navbar-burger burger"
        onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');"
      >
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
          <router-link to="/" class="router-link">{{ $t("Home") }}</router-link>
        </div>
        <div class="navbar-item">
          <router-link to="/about" class="router-link">
            {{ $t("about") }}
          </router-link>
        </div>
        <div class="navbar-item">
          <LocaleChanger />
        </div>
      </div>

      <div class="navbar-end">
        <!-- si pas connecter (faire condition avec vue) -->
        <div class="navbar-item" v-if="!$store.getters.isAuthenticated">
          <div class="buttons is-centered">
            <a class="button is-primary">
              <strong> {{ $t("Signup") }} </strong>
            </a>
            <a class="button is-light">
              <router-link to="/login" class="router-link">
                {{ $t("Login") }}
              </router-link>
            </a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable" v-else>
          <a class="navbar-link"> {{ $store.getters.getProfile }}</a>
          <div class="navbar-dropdown">
            <a href="#" class="navbar-item">My Profile</a>
            <a href="#" class="navbar-item">Logout</a>
            <form
              id="logout-form"
              action=""
              method="#"
              style="display: none;"
            ></form>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import VueI18n from "vue-i18n";
import LocaleChanger from "@/components/TheLocaleChanger.vue";
import { mapState } from "vuex";

interface Profile {
  name: string;
}
@Component({
  name: "TheNavBar",
  // computed: mapState({
  //   user: state => state.user.getProfile
  // }),
  components: {
    LocaleChanger
  }
})
export default class TheNavBar extends Vue {
  @Prop() private activeItem: number = 0;
}
</script>

<style lang="scss">
a.router-link {
  color: #2c3e50;
  display: block;
}
a.router-link:hover {
  color: #54a0ff;
}
</style>
